{{(this.setupForm)}}
<div class="semantic-forms-instance">
  {{#unless this.setupFormForTtl.isRunning}}
    <section>
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.formInfo.formNode}}
        @show={{false}}
        @graphs={{this.formInfo.graphs}}
        @sourceNode={{this.formInfo.sourceNode}}
        @formStore={{this.formInfo.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @useNewListingLayout={{true}}
        @lazyGenerators={{true}}
        @level={{2}}
        class="au-u-max-width-medium"
      />
      {{yield}}
    </section>

    {{#if this.errorMessage}}
      <AuAlert @skin="error" @title="Fout" @icon="alert-triangle">
        {{this.errorMessage}}
      </AuAlert>
    {{/if}}

    <AuToolbar as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" this.tryOpenHistoryModal}}
            @disabled={{or this.save.isRunning (not this.hasChanges)}}
          >{{this.saveTitle}}</AuButton>
          <SemanticForms::SaveWithHistory
            @save={{perform this.save}}
            @isSaving={{this.save.isRunning}}
            @updateValue={{this.updateHistoryMessage}}
            @isModalOpen={{this.isSaveHistoryModalOpen}}
          >{{this.saveTitle}}</SemanticForms::SaveWithHistory>
          {{#if @onCancel}}
            <SemanticForms::CancelWithConfirm
              @cancel={{@onCancel}}
            >Annuleer</SemanticForms::CancelWithConfirm>
          {{/if}}
        </AuButtonGroup>
      </Group>
    </AuToolbar>

    <SemanticForms::TripleContent @triples={{this.sourceTriples}} />
  {{/unless}}
</div>