{{(this.setupForm)}}
<div class="semantic-forms-instance">

  {{#if this.setupFormForTtl.isRunning}}
    {{yield to="formIsLoading"}}
  {{else}}
    <section>
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.formInfo.formNode}}
        @show={{@show}}
        @graphs={{this.formInfo.graphs}}
        @sourceNode={{this.formInfo.sourceNode}}
        @formStore={{this.formInfo.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @useNewListingLayout={{true}}
        @lazyGenerators={{true}}
        @level={{2}}
        class={{if @formClass @formClass "au-u-max-width-medium"}}
      />
      {{yield}}
    </section>

    {{#if this.errorMessage}}
      <AuAlert @skin="error" @title="Fout" @icon="alert-triangle">
        {{this.errorMessage}}
      </AuAlert>
    {{/if}}

    {{#unless @show}}
      <AuToolbar as |Group|>
        <Group>
          <AuButtonGroup>
            <AuButton
              {{on "click" this.tryOpenHistoryModal}}
              @disabled={{or
                this.save.isRunning
                this.isRunningValidationsOnForm
                (not this.hasChanges)
                (not this.isValidForm)
              }}
              @loading={{or
                this.save.isRunning
                this.isRunningValidationsOnForm
              }}
              @loadingMessage={{this.saveButtonLoadingText}}
            >{{this.saveTitle}}</AuButton>
            <SemanticForms::SaveWithHistory
              @save={{perform this.save}}
              @isSaving={{this.save.isRunning}}
              @updateValue={{this.updateHistoryMessage}}
              @isModalOpen={{this.isSaveHistoryModalOpen}}
            >{{this.saveTitle}}</SemanticForms::SaveWithHistory>
            {{#if @onCancel}}
              <SemanticForms::CancelWithConfirm
                @cancel={{@onCancel}}
              >Annuleer</SemanticForms::CancelWithConfirm>
            {{/if}}
          </AuButtonGroup>
        </Group>
      </AuToolbar>
    {{/unless}}

    <SemanticForms::TripleContent @triples={{this.sourceTriples}} />
  {{/if}}
</div>