<div class="semantic-forms-new-instance">
  {{#unless this.setupNewForm.isRunning}}
    <section>
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.formInfo.formNode}}
        @show={{false}}
        @graphs={{this.formInfo.graphs}}
        @sourceNode={{this.formInfo.sourceNode}}
        @formStore={{this.formInfo.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @useNewListingLayout={{true}}
        @lazyGenerators={{true}}
        @level={{2}}
        class="au-u-max-width-medium"
      />
      {{yield}}
    </section>

    {{#if this.errorMessage}}
      <AuAlert @skin="error" @title="Fout" @icon="alert-triangle">
        {{this.errorMessage}}
      </AuAlert>
    {{/if}}

    <AuToolbar class="au-u-margin-top" as |Group|>
      <Group>
        <AuButtonGroup>
          <AuButton
            {{on "click" (perform this.save)}}
            @disabled={{or
              (not this.isValidForm)
              this.isRunningValidationsOnForm
            }}
            @loading={{this.save.isRunning}}
          >
            Bewaar
          </AuButton>
          {{#if @onCancel}}
            <SemanticForms::CancelWithConfirm
              @cancel={{@onCancel}}
            >Annuleer</SemanticForms::CancelWithConfirm>
          {{/if}}
        </AuButtonGroup>
      </Group>
    </AuToolbar>

    <SemanticForms::TripleContent @triples={{this.sourceTriples}} />
  {{/unless}}
</div>